@import "/src/styles/_variables.scss";

#personal {
    padding: 0 $pageSidePadding;
    padding-top: $pageTopPadding;

    .empty-list {
        text-align: center;
        .title {
            font-weight: bold;
            display: block;
            font-size: 17px;
        }
        
        .text {
            display: block;
        }

        * {
            margin: 25px 0;
        }
    }

    .tab-item {
        width: 89%;
    }

}

:host {
    --st-indicator-color: var(--ion-color-primary);
}

super-tabs {

    super-tabs-toolbar::after {
        background: none;
        border-top: 1px solid #0000004a;
    }

    super-tab-button{
        

        &.active {
            color: var(--st-indicator-color);
        }

        ion-label {
            text-transform: initial;
        }
    }
}