<div id="dialog">

    <mat-icon class="close" (click)="closeDialog()">close</mat-icon>

    <div id="account-section">

        <div class="user-info">
            <span class="avatar">
                <img src="/assets/books/becoming a better you/cover.jpg">
            </span>

            <div class="name-info">
                <div class="name">
                    {{displayName}}
                    <span class="email">{{displayEmail}}</span>
                </div>
            </div>
        </div>


        <button class="account-button" type="button" color="primary">
            Login / Create account
        </button>

    </div>

    <mat-divider></mat-divider>

    <div id="more">
        <mat-list>
            <mat-list-item class="item" (click)="openSettings()">
                <mat-icon>settings</mat-icon>
                <span class="text">Bookstore settings</span>
            </mat-list-item>
        </mat-list>
    </div>
</div>