@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


:root {
    --ion-text-color: #555;
    --st-indicator-color: $my-primary;
}

:host {
    font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif; 
}

html, body { height: 100%; }
body {
    margin: 0; 
    font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif; 
    color: #555;
}

.mat-drawer-container {
    background-color: white;
}

.ebook-dialog {
    width: 90%;
    .mat-dialog-container  {
        padding: 0;
    }
}


.avatar {
    $size: 40px;
    width: $size;
    height: $size;
    img {
        border-radius: 50%;
        width: $size;
        height: $size;
        border: 2px dashed #ccc;
        padding: 1px;
    }
}

.title {
    color: black;
}

.ebook-divider {
    display: block;
    // margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #ddd;
    margin: 30px 0;
}


#customSearch {
    color: $darkMenuColor;
    // margin-top: 20px;
    padding: 0 $pageSidePadding;
    // position: absolute;
    /* border: 3px solid red; */
    // z-index: -1;
    // background: #ffffff47;
    background: #ffffff00;

    .spacer {
        flex: 1 1 auto;
    }

    &.white, &.white * {
        // color: #ffffff8c !important;
        color: #ffffffdd !important;
    }

    .searchbutton {
        $background: #ffffff00;
        display: flex;
        align-items: center;
        border: 1px solid #a0a0a069;
        border-radius: 10px;
        padding-left: 0.5rem;
        overflow: hidden;
        background: $background;
        color: #555;
        font-size: initial;
        width: 100%;
        $space: 13px;
        padding-top: $space;
        padding-bottom: $space;

        $borderColor: #cccccc85;
        border-color: $borderColor;
        box-shadow: 0 0 7px $borderColor;

        .text {
            width: 100%;
            margin-left: 12px;
        }
    }
}

.payment-modal {
    --height:30%;
    align-items: flex-end;
}


.ion-loading-class {
    --background: none;
    --spinner-color:#ffffff;

    .loading-wrapper {
        box-shadow: none;
    }
}