
@import "_theme";


$my-primary: var(--ion-color-primary);
$bottomMenuHeight: 65px;
$pageSidePadding: 22px;
// $pageTopPadding: 100px;
$pageTopPadding: 15px;
$pageBottomPadding: $bottomMenuHeight + 20;
$darkMenuColor: #555;
$bookCoverRadius: 5px;