.welcome {
    padding: 100px 40px;
    text-align: center;

    .heading {
        font-size: 36px;
        font-weight: bold;
    }

    .text {
        margin-bottom: 50px;
    }

    .interact {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .loading {

        .spinner {
            max-height: 150px;
        }

        .loading-text {
            margin-top: -40px;
        }
    }
}

ebook-start {
    margin-top: 20px;
}