<ion-content>
    <div class="welcome">
        <ebook-logo></ebook-logo>    
        <div class="interact" [@storeReady]="allowEntry">
            <ebook-start></ebook-start>
        </div>  
        <div [@loadingDone]="showSpinner" class="interact loading">
            <img class="spinner" src="assets/images/nice-loading.gif" alt="Loading...">
            <h4 class="loading-text">Please wait while we prepare the store</h4>
        </div>
        <div [@storeError]="showError" class="interact">            
            <ion-text color="danger">
                <h4 class="loading-text">Unfortunately, the store took too long to respond. Please try again later.</h4>
                <ion-button (click)="tryAgain()" shape="round">Try again</ion-button>
            </ion-text>            
        </div>
    </div>

</ion-content>