<ion-header translucent class="ion-no-border">
    <ion-toolbar>
        
        <ebook-searchbutton></ebook-searchbutton>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div id="bookstore">

        <div>
            <ebook-bookset *ngFor="let group of bookGroupings" [title]="group.title" [books]="group.books"></ebook-bookset>
            <ebook-bookset [showTitle]="bookGroupings.length > 0" [title]="'More titles'" [books]="otherBooks" [style]="'list'" [showId]="false" [size]="'medium'"></ebook-bookset>
        </div>
        
    </div>
</ion-content>