
@import "/src/styles/_variables.scss";

#searchpage {

    height: 100%;
    padding-bottom: $pageBottomPadding;

    .search-section {
        padding-left: 15px;
        padding-top: 21px;
        padding-bottom: 20PX;
        border-bottom: 1px solid #ccc;
        align-items: center;
        display: flex;
        height: 81px;
        background: white;

        .input-box {
            $background: #ffffff00;
            display: flex;
            align-items: center;
            border-radius: 15px;
            padding-left: 0.85rem;
            overflow: hidden;
            background: $background;

            form {
                width: 100%;
                input {
                    width: 80%;
                    background: $background;
                    flex-grow: 1;
                    font-size: 14px;
                    border: none;
                    outline: none;
                    padding: 0.5rem;
                    color: inherit;
                    line-height: initial;

                    &::placeholder {
                        color: inherit;
                    }
                }
            }
        }
    }

    .search-options {        
        padding: 10px;

        .option {
            margin: 20px 0;
            height: initial;

            .cover {
                $width: 55px;
                width: 55px;
                height: $width / 0.72;
                display: inline-flex;
                border-radius: 5px;
            }

            .title {
                margin-left: 20px;
            }
        }
    }
}