<div id="searchpage">
    <div class="search-section">
        
        <ion-icon (click)="goBack()" aria-label="Back" name="arrow-back-outline"></ion-icon>

        <div class="input-box" style="width: 100%">
            <form>
                <input #autocompleteInput
                    type="text" 
                    placeholder="Search Bookstore" 
                    aria-label="Search" 
                    (keyup)="onKeyUp($event)"/>
                <ion-button fill="clear" size="small" color="medium" class="suffix" *ngIf="autocompleteInput.value" aria-label="Clear" type="button" (click)="autocompleteInput.value = ''">
                    <ion-icon slot="icon-only" name="close"></ion-icon>
                </ion-button>
            </form>
        </div>
    </div>

    <ebook-bookset [books]="autoCompleteList" [style]="'list'"></ebook-bookset>
    <!-- <ion-list>
        <ion-item *ngFor="let book of autoCompleteList" (click)="selectBook(book)">
                <img  src="{{book.cover}}">
            <ion-label>
                <h2>{{book.title}}</h2>
                <h3>{{book.price}}</h3>
            </ion-label>
        </ion-item>        
    </ion-list> -->

</div>