<ion-header>

    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

        <ion-searchbar #searchInput (ionInput)="onInput($event)"  animated placeholder="Search Bookstore"></ion-searchbar>
          
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <div id="searchpage">
       
        <ebook-bookset [books]="autoCompleteList" [style]="'list'" [size]="'small'"></ebook-bookset>

    </div>
</ion-content>