<div id="reader">
    <ngx-extended-pdf-viewer
        [src]="src" 
        [useBrowserLocale]="true" 
        [enablePinchOnMobile]="enablePinchOnMobile"
        [minZoom]="0.5"
        [maxZoom]="1.5"        
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showSecondaryToolbarButton]="showSecondaryToolbarButton"
        [showPrintButton]="showPrintButton"
        [showOpenFileButton]="showOpenFileButton"
        [showDownloadButton]="showDownloadButton"
        [showBookmarkButton]="showBookmarkButton"
        [height]="'110vh'">
    </ngx-extended-pdf-viewer>
</div>