<div id="bookstore">

    <div *ngIf="showFeatures">
        <ebook-bookset [title]="'Most Popular'" [books]="popularBooks" [onSelect]="selectBookBounded"></ebook-bookset>
        <ebook-bookset [title]="'Featured'" [books]="featuredBooks" [onSelect]="selectBookBounded"></ebook-bookset>
        <ebook-bookset [title]="'More titles'" [books]="otherBooks" [onSelect]="selectBookBounded" [style]="'grid'"></ebook-bookset>
    </div>

    <ebook-bookset *ngIf="searching" [books]="searchResults" [onSelect]="selectBookBounded" [style]="'grid'"></ebook-bookset>

    <div *ngIf="noResults" id="no-results">
        <span>We couldn't find any books that match "{{filter}}"</span>
    </div>
    
</div>