@import "/src/styles/_variables.scss";

#searchbar {

    .input-box {
        $background: #ffffff00;
        display: flex;
        align-items: center;
        border: 1px solid #a0a0a069;
        border-radius: 20px;
        padding-left: 0.5rem;
        overflow: hidden;
        background: $background;
        
        .prefix {
            font-weight: 300;
            font-size: 14px;
        }

        .suffix {
            font-weight: 300;
            font-size: 14px;
        }
          
        input {
            background: $background;
            flex-grow: 1;
            font-size: 14px;
            border: none;
            outline: none;
            padding: 0.5rem;
            color: inherit;

            &::placeholder {
                color: inherit;
            }
        }
      
        &:focus-within {
            box-shadow: 0 0 12px 1px #dddddd9e;
            border: none;
        }
    }

    #options {
        height: 100%;
    }
}