
<div class="bookset">
    <div class="topbar" *ngIf="showTitle">
        <span [@fadeBook]="showBooks" class="title">{{title}}</span>
        <span [@fadeBook]="showFakes" class="title fake">{{title}}</span>
    </div>

    <div *ngIf="style!='list'" class="set {{size}} {{style}}">
        <div [@fadeBook]="showBooks" *ngFor="let book of books" class="book" (click)="selectBook(book)">
            <ion-img style="pointer-events:none" class="cover" src="{{book.cover}}" alt="{{book.title}}"></ion-img>
            <div class="info">
                <span class="title">{{book.title}}</span>
                <span class="price" *ngIf="showPrice" >{{book.price}}</span>
            </div>
        </div>
        
        <div [@fadeBook]="showFakes" *ngFor="let book of [1,2,3]" class="book fake">
            <div style="pointer-events:none" class="cover fake"></div>
            <div class="info">
                <span class="title fake"></span>
                <span class="price fake" *ngIf="showPrice"></span>
            </div>
        </div>
    </div>

    <div class="set {{size}} list" *ngIf="style=='list'">
        
        <div class="book" *ngFor="let book of books" (click)="selectBook(book)">
            <img class="cover" src="{{book.cover}}" alt="{{book.title}}">
            <div class="info">
                <span class="title">{{book.title}}</span>
                <span class="price" *ngIf="showPrice" >{{book.price}}</span>
                <span class="meta" *ngIf="showPrice && showId" >ISBN: {{book.ISBN}}</span>
            </div>
        </div>
       
    </div>

</div>