@import "/src/styles/_variables.scss";

.bookset {
    .topbar {
        display: flex;
        .title {
            font-weight: 500;
            font-size: 17px;
        }

        .spacer {
            flex: 1 1 auto;
        }
    }

    .set {
        width: 100%;
        // height: 300px;
        overflow: auto;
        overflow-y: hidden;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;

        &.carousel {
            display: inline-flex;
        }

        $imgRatio: 0.72;
        &.grid {
            display:grid;
            grid-template-columns: auto auto auto auto;

            .book {
                // $bookWidth: 90px;
                // width: $bookWidth;
                margin-left: 0;
                margin-right: 5px;
                // .cover {
                //     width: $bookWidth;
                //     height: $bookWidth / $imgRatio;
                // }
            }
        }

        &.list {
            .book {
                margin: 20px 0;
                height: initial;

                .cover {
                    $width: 55px;
                    width: $width;
                    height: $width / $imgRatio;
                    display: inline-flex;
                    border-radius: 5px;
                }
    
                .info {
                    display: inline-block;
                    margin: 0;
                    margin-left: 15px;

                    .title {
                        font-size: initial;
                        position: absolute;
                        top: 0px;
                    }
                }
            }
        }
      
        .book {
            // $bookWidth: 115px;
            margin: 5px; 
            box-shadow: none;
            // width: $bookWidth;
            float: left;
            height: 250px;

            &:first-of-type {
                margin-left: 0px;
            }
            
            .cover {
                // width: $bookWidth;
                // height: $bookWidth/$imgRatio;
                border-radius: $bookCoverRadius;
            }
    
            .info {
                margin-left: -12px;
                margin-top: -12px;
                
                .title {
                    font-size: small;
                    color: #666;
                    // font-weight: 500;
                }

                .price {
                    font-size: small;
                    display: block;  
                    color: #666;                  
                }
            }            
      
            &.active {
                font-weight: bold;
            }
        }

        &.small {
            .book {
                $bookWidth: 90px;
                $bookHeight: $bookWidth / $imgRatio;
                width: $bookWidth;                
                height: $bookHeight + 100px;
                .cover {
                    width: $bookWidth;
                    height: $bookHeight;
                }
            }
        }

        &.medium {
            .book {
                $bookWidth: 115px;
                $bookHeight: $bookWidth / $imgRatio;
                width: $bookWidth;                
                height: $bookHeight + 100px;
                .cover {
                    width: $bookWidth;
                    height: $bookHeight;
                }
            }
        }

        &.large {
            .book {
                $bookWidth: 130px;
                $bookHeight: $bookWidth / $imgRatio;
                width: $bookWidth;                
                height: $bookHeight + 100px;
                .cover {
                    width: $bookWidth;
                    height: $bookHeight;
                }
            }
        }

        &.xlarge {
            .book {
                $bookWidth: 170px;
                $bookHeight: $bookWidth / $imgRatio;
                width: $bookWidth;                
                height: $bookHeight + 100px;
                .cover {
                    width: $bookWidth;
                    height: $bookHeight;
                }
            }
        }
    }
}