
<div class="bookset">
    <div class="topbar">
        <span [hidden]="!showTitle" class="title">{{title}}</span>
    </div>
    <!-- <div *ngIf="style!='list'" class="set {{size}} {{style}}">
        <ion-card class="book" *ngFor="let book of books"  (click)="selectBook(book)">
            <img class="cover" src="{{book.cover}}" alt="{{book.title}}">
            <ion-card-content class="info">
                <span class="title">{{book.title}}</span>
                <span class="price" *ngIf="showPrice" >{{book.price}}</span>
            </ion-card-content>
        </ion-card>
    </div> -->

    <div *ngIf="style!='list'" class="set {{size}} {{style}}">
        <ion-slides [options]="slideOpts">
            <ion-slide *ngFor="let book of books"  class="book" (click)="selectBook(book)">
                <ion-col>
                    <ion-img style="pointer-events:none" class="cover" src="{{book.cover}}" alt="{{book.title}}"></ion-img>
                    <div class="info">
                        <span class="title">{{book.title}}</span>
                        <span class="price" *ngIf="showPrice" >{{book.price}}</span>
                    </div>
                </ion-col>
            </ion-slide>
        </ion-slides>
    </div>


    <div class="set list" *ngIf="style=='list'">
        <ion-list lines="none">
            <ion-item class="book" *ngFor="let book of books" (click)="selectBook(book)">
                <img class="cover" src="{{book.cover}}" alt="{{book.title}}">
                <ion-label class="info">
                    <span class="title">{{book.title}}</span>
                    <span class="price" *ngIf="showPrice" >{{book.price}}</span>
                    <span class="meta" *ngIf="showPrice" >ISBN: {{book.ISBN}}</span>
                </ion-label >
            </ion-item>
        </ion-list>
    </div>
</div>