
<div class="bookset">
    <div class="topbar">
        <span [hidden]="!showTitle" class="set-title">{{title}}</span>
        <span class="spacer"></span>
        <mat-icon *ngIf="style == 'row'" class="arrow">arrow_forward</mat-icon>
    </div>
    <div class="set" [ngClass]="{grid: style=='grid'}">
        <mat-card class="book" *ngFor="let book of books" (click)="selectBook(book)">
            <img mat-card-image class="cover" src="{{book.cover}}" alt="{{book.title}}">
            <mat-card-content class="info">
                <span class="title">{{book.title}}</span>
                <span class="price" *ngIf="showPrice" >{{book.price}}</span>
            </mat-card-content>
        </mat-card>
    </div>
</div>