<div id="bottomsheet">
    <div class="book">
        <img src="{{book.cover}}" alt="" class="cover">
        <div class="title">
            {{book.displayName}}
            <span class="id">ISBN: {{book.ISBN}}</span>
        </div>
        <span class="price">{{book.price}}</span>
    </div>

    <div class="ebook-divider"></div>

    <div class="purchase-container">
        <span class="terms">
            
        </span>
        <ion-button class="buy" (click)="makeOrder()" color="primary">Buy eBook</ion-button>
    </div>
</div>