<div id="rev-ayo-ebooks" style="display: none;">
   
    <mat-toolbar id="header" *ngIf="showTopToolbar" [ngClass]="{white: !toolbarIsBlack}">
                
        <ion-button *ngIf="showBack" (click)="goBack()" aria-label="Back" fill="clear" size="small" color="medium">
            <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>

        <button type="button" class="searchbutton" *ngIf="showSearch" (click)="openSearch()" >
            <ion-button fill="clear" size="small" color="medium">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
            <span class="text">Search Bookstore</span>    
            <!-- <ion-icon (click)="openDialog(); $event.stopPropagation()" name="menu"></ion-icon> -->
            <ion-button fill="clear" size="small" color="medium" (click)="openDialog(); $event.stopPropagation()">
                <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
        </button>
        
        <span *ngIf="showMiniSearch" class="spacer"></span>
        <ion-button (click)="openSearch()" *ngIf="showMiniSearch" fill="clear" size="small" color="medium">
            <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>

    </mat-toolbar>

        <!-- <router-outlet #o="outlet"></router-outlet> -->
        <!-- <ion-router-outlet></ion-router-outlet> -->

    <!-- <mat-toolbar *ngIf="showBottomMenu" id="bottom-nav">
        <div class="item" [ngClass]="{active: storeActive}" (click)="openStore()">
            <ion-icon name="storefront-outline"></ion-icon>
            <span class="label">Store</span>
        </div>
        <div class="item"  [ngClass]="{active: personalActive}" (click)="openPersonal()">
            <ion-button fill="clear">
                <ion-icon slot="icon-only" name="library-outline"></ion-icon>
            </ion-button>
            <span class="label">My Libarry</span>
        </div>
    </mat-toolbar> -->

    <ion-tabs>

        <ion-tab-bar slot="bottom">
                    
            <ion-tab-button tab="store">
                <ion-icon name="storefront-outline"></ion-icon>
                <ion-label>Store</ion-label>
            </ion-tab-button>
        
            <ion-tab-button tab="personal">
                <ion-icon name="library-outline"></ion-icon>
                <ion-label>My Library</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
      
    </ion-tabs>
      
       
</div>