<div id="settings">

    <div class="title">
        Settings
    </div>

    <ion-list class="list">
        <ion-item class="item">
            Currency
        </ion-item>
    </ion-list>
</div>

<ion-header translucent class="ion-no-border">
    Settings
</ion-header>

<ion-content [fullscreen]="true" >
    <ion-select value="nigeria" interface="action-sheet" #region>
        <ion-select-option value="nigeria">Nigeria</ion-select-option>
        <ion-select-option value="world">Rest of the World</ion-select-option>
    </ion-select>
</ion-content>