
<ion-header translucent class="ion-no-border">

    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

    </ion-toolbar>    
    
</ion-header>

<ion-content [fullscreen]="true">
    <div id="author">
        
        <ion-text color="dark">
            <h2>About Bishop Ayo Odunayo</h2>
        </ion-text>

        <div class="content">
            <img src="../../assets/images/author.jpg" alt="">
            <ion-text>
                Bishop (Engr) Ayo Odunayo is the President of Victory International Ministires and Founding Pastor of Chapel of Victory International Churches with Headquaters at 29 Victory Avenue, Port Harcourt, Rivers State Nigeria and sixteen other branches in Nigeria.
            </ion-text>
        </div>

        <ion-text color="dark">
            <h4>Chapel of Victory International</h4>
        </ion-text>


        <div class="content">
            <ion-text>
                Victory International Ministries is a fast growing Ministry in the city of Port Harcourt, birthed by Bishop. Ayo Odunayo & his dear wife Rev. Mrs. Yinka Odunayo on 25thDecember 1992 with the Church arm at Amazing Grace Restaurant, No. 7 Aba Road, near Abali Park. The church later moved to the Rumukalagbor town hall in December 1994 from where she acquired the ten plots permanent site currently housing the Champions’ Cathedral, temporary Office, Pastors residence and Champions Int’l School.
            </ion-text>
        </div>

        <div class="content social-media">
            <ion-text color="medium" class="social">
                <ion-icon name="globe" class="icon"></ion-icon>
                <a target="_blank" href="https://www.cvichurches.org">www.cvichurches.org</a>
            </ion-text>
            <ion-text color="medium" class="social">
                <ion-icon name="mail" class="icon"></ion-icon>
                <a href="mailto:pastorodunayo@gmail.com">pastorodunayo@gmail.com</a>
            </ion-text>
            <ion-text color="medium" class="social">
                <ion-icon name="logo-facebook" class="icon"></ion-icon>
                <a target="_blank" href="https://facebook.com/RevAyoOdunayo">/RevAyoOdunayo</a>
            </ion-text>
        </div>
    </div>
</ion-content>
