<div id="reader">
    <pdf-viewer 
        [src]="srcUrl"
        [render-text]="true"
        [original-size]="false"
        [zoom-scale]="'page-fit'"
        [show-all]="true"
        [stick-to-page]="true"
        [(page)]="currentPage"
        (pageChange)="pageChange($event)"
    >
    </pdf-viewer>
</div>
<div id="reader"  style="display: none;">
    <ngx-extended-pdf-viewer
        [src]="srcBlob" 
        [useBrowserLocale]="true" 
        [enablePinchOnMobile]="enablePinchOnMobile"
        [minZoom]="0.5"
        [zoom]="'page-fit'"
        [maxZoom]="1.5"        
        [mobileFriendlyZoom]="mobileFriendlyZoom"
        [showSecondaryToolbarButton]="showSecondaryToolbarButton"
        [showPrintButton]="showPrintButton"
        [showOpenFileButton]="showOpenFileButton"
        [showDownloadButton]="showDownloadButton"
        [showBookmarkButton]="showBookmarkButton"
        [height]="'110vh'"        
        [customToolbar]=""
        >
    </ngx-extended-pdf-viewer>
    <ng-template #multiToolbar>
        <div class="header">
            <button ion-icon-button id="first_page">
                <ion-icon>skip_previous</ion-icon>
            </button>
            <button ion-icon-button id="previous">
                <ion-icon>keyboard_arrow_left</ion-icon>
            </button>
            <button ion-icon-button id="next">
                <ion-icon>keyboard_arrow_right</ion-icon>
            </button>
            <button ion-icon-button id="last_page">
                <ion-icon>skip_next</ion-icon>
            </button>
            <button ion-icon-button id="zoomIn">
                <ion-icon>zoom_in</ion-icon>
            </button>
            <button ion-icon-button id="zoomOut">
                <ion-icon>zoom_out</ion-icon>
            </button>
            
            <!-- <button ion-button [ionMenuTriggerFor]="menu">Menu</button>
            <ion-menu #menu="ionMenu">
                <button ion-menu-item>Item 1</button>
                <button ion-menu-item>Item 2</button>
            </ion-menu> -->
        
            <button ion-icon-button id="primaryPageRotateCw">
                <ion-icon>replay</ion-icon>
            </button>
        
        </div>
    </ng-template>
</div>