#reader {

    pdf-viewer {
        display: block;
        height: 100vh;
      }

    button#print,
    button#print * {
        display: block !important;
    }

    button#download,
    button#download * {
        display: block !important;
    }

    #toolbarViewerMiddle {
        display: none;
    }
}