<ion-content [fullscreen]="true">
    <ion-progress-bar type="{{progressType}}" color="{{progressColor}}" value="{{currentPage / totalPages}}"></ion-progress-bar>

    <div id="reader"> 
        <pdf-viewer
            [src]="srcUrl"
            [render-text]="true"
            [original-size]="false"
            [zoom]="pdfZoom"
            [show-all]="false"
            [zoom-scale]="'page-fit'"
            [stick-to-page]="true"
            [(page)]="currentPage"
            (pageChange)="onPageChange($event)"
            (after-load-complete)="onLoadComplete($event)"
        >
        </pdf-viewer>
    </div>

</ion-content>

<ion-footer translucent class="ion-no-border">

    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-button [disabled]="currentPage == 1" fill=clear (click)="prevPage()">Previous</ion-button>
        </ion-buttons>

        <ion-title mode="ios">
            <span class="zoom-control hidden-xs-down">
                <button (click)="zoomOut()">
                    <ion-icon color="medium" name="remove-circle"></ion-icon>
                </button>
                <ion-text color="medium" class="zoom-text" (click)="zoomReset()">
                    <span>{{ pdfZoom == 1 ? 'Full Page' : pdfZoom.toFixed(1) }}</span>
                </ion-text>
                <button (click)="zoomIn()">
                    <ion-icon color="medium" name="add-circle"></ion-icon>
                </button>
                <!-- <button (click)="zoomReset()">
                    <ion-icon color="medium" name="refresh"></ion-icon>
                </button> -->
            </span>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="currentPage == totalPages" fill=clear (click)="nextPage()">Next</ion-button>
        </ion-buttons>  

       

    </ion-toolbar>    
    
</ion-footer>