<ion-header translucent class="ion-no-border">

    <ion-toolbar>
        
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

    </ion-toolbar>    
    
</ion-header>


<ion-content [fullscreen]="true">
    <div id="account">
        <ion-text color="dark">
            <h3>Account Settings</h3>
        </ion-text>


        <ion-list>
           
            <ion-item>

                <ion-label>
                    <p>Region</p>
                </ion-label>
                <ion-text color="medium" class="region-label">{{storeRegion}}</ion-text>
               
            </ion-item>

            <ion-item (click)="logout()">                
                <ion-text color="danger" ><ion-icon name="log-out"></ion-icon> Log out</ion-text>
            </ion-item>

        </ion-list>
    </div>
</ion-content>