@import "/src/styles/_variables.scss";

#details {

    // position: absolute;
    height: 100%;
    padding: 0 $pageSidePadding;
    padding-top: $pageTopPadding;
    padding-bottom: 10px;

    .action-container {
        position: relative;
        // margin-top: 40px;
        margin-top: 0px;
        margin-bottom: 20px;
        width: 85%;
        // bottom: 80px;
        left: 50%;
        transform: translate(-50%);

        #main-action {
            width: 100%;
            display: block;
        }
    }
   
    #top {
        $topHeight: 230px;
        height: $topHeight;
        .bg-image {      
            /* Add the blur effect */
            filter: blur(8px);
            -webkit-filter: blur(8px);
        
            /* Full height */
            height: 100%;
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        #book-info, #shade {
            height: $topHeight;
            width: 100%;
            // border: 4px solid blue;
        }

        #shade {
            position: absolute;
            top: 0px;
            background: rgb(0 0 0 / 50%);
        }

        .cover-container {
            // position: absolute;
            // top: 80px;
            // position: relative;
            // left: 15px;
            height: 100%;
            display: flex;

            .cover {
                height: 205px;
                width: 150px;
                // border: 2px solid white;
                // position: relative;
                // top: 15px;
                // // left: inherit;
                // left: $pageSidePadding;
                border-radius: 9px;
            }

            .cover-info {
                // left: 150px;
                position: relative;
                /* float: right; */
                // display: flex;
                // top: -150px;
                // width: 220px;
                top: 50px;
                margin-left: 17px;
                // height: 205px;
                /* border: 1px solid red; */
                // color: white;

                .title {
                    font-weight: 400;
                    font-size: 20px;
                    /* text-align: center; */
                    line-height: 1.5;
                }

                .author {
                    font-size: small;
                    margin-top: 10px;
                    display: block;
                    color: $my-primary;
                }

                .meta {
                    font-size: small;
                    color: #999;
                }
            }

        }
        
        .icon {
            position: absolute;
            right: $pageSidePadding;
            top: $pageTopPadding;
        }

    }

    #bottom {
        // padding: 0 $pageSidePadding;

        .about {
            margin-bottom: 20px;
            .title {
                font-weight: 500;
                font-size: 17px;
                margin-bottom: 10px;
                display: block;
            }
        }
    }
}